.addcontent-menu {
  display: none; /* Initially hide the dropdown */
}

.addcontent-menu.show {
  display: block; /* Show the dropdown when the 'show' class is added */
}

.icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
}
.icon-wrapper:hover {
  transition: all 0.3s ease;
  transform: scale(1.3);
}

.add-image:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}
.add-code:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}
.add-section:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

.create-article-heading {
  color: rgb(255, 255, 255);
  text-align: center;
}

.create-article-row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.expandable-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align everything to the left */
  /* height: 100vh; */
  position: relative;
}

.expander {
  position: relative;
  width: 50px; /* Starts with the size of the button */
  height: 50px;
  background-color: #2e2e2e;
  border-radius: 25px;
  transition: width 0.5s ease;
  display: flex;
  justify-content: flex-start; /* The content stays to the left */
  align-items: center;
}

.expander.expanded {
  width: 220px; /* Expands only towards the right */
}

.center-button {
  position: relative; /* Position relative within the expanding div */
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.button-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 60px; /* Position the button group to the right of the central button */
  top: 50%;
  transform: translateY(-50%);
  width: 140px; /* Total width for 3 buttons */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.expander.expanded .button-group {
  opacity: 1; /* Make buttons appear when expanded */
}

.inner-button {
  width: 40px;
  height: 40px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inner-button:hover {
  background-color: #707070;
}






#articleCoverImage, #articleIntermediateImage {
  width: 100%; /* Make image upload inputs responsive */
  max-width: 300px; /* Limit their maximum size */
  border-radius: 10px;
}



.article-container {
  /* max-width: 800px; */
  margin-top: 70px;
  width: 70%;
  padding: 20px;
  background-color: #1e1e1e;
}
@media (max-width: 768px) {
  .article-container {
    width: 100%; /* Full width for screens smaller than 768px */
    padding: 10px; /* Optional: Adjust padding for smaller screens */
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 28px;
}

.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #363636;
  color: white;
}

.title-input {
  width: 100%;
  font-size: 32px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #33333300;
  background-color: #28282800;
  color: #e0e0e0;
  border-radius: 5px;
}
.title-input::placeholder {
  font-size: 32px; /* Adjust this size as per your requirement */
}
.title-input:focus {
  border-color: #00000000; /* Optional: Customize border color on focus */
  outline: none; /* Ensures no extra outline appears on focus */
}

.brief-input {
  width: 100%;
  font-size: 22px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #33333300;
  background-color: #28282800;
  color: #8f8f8f;
  border-radius: 5px;
}
.brief-input::placeholder {
    font-size: 16px; /* Adjust this size as per your requirement */
}
.brief-input:focus {
  border-color: #00000000; /* Optional: Customize border color on focus */
  outline: none; /* Ensures no extra outline appears on focus */
}

#articleIntermediateImage {
  border-radius: 10px;
}
#articleCoverImage {
  border-radius: 10px;
}

.content-input {
  width: 100%;
  /* height: 300px; */
  padding: 15px;
  font-size: 18px;
  border: 1px solid #33333300;
  background-color: #28282800;
  color: #d1d1d1;
  border-radius: 5px;
  resize: none;
  margin-bottom: 20px;
}
.content-input::placeholder{
  font-size: 16px;
}
.content-input:focus {
  border-color: #5757574f; /* Optional: Customize border color on focus */
  outline: none; /* Ensures no extra outline appears on focus */
}

.image-upload {
  display: flex;
  justify-content: space-between;
}

.image-label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #e0e0e0;
}

input[type="file"] {
  background-color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  color: #e0e0e0;
  padding: 10px;
  cursor: pointer;
  width: 48%;
}

.approval-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-article-submit-button {
  background-color: #000000;
  color: white;
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0);
  font-size: 18px;
  padding : 10px;
  margin: 30px;
}

.create-article-submit-button:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}


.add-btn {
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  background-color: #314e3200;
  color: white;
  border: none;
  border-radius: 50%;
}


