.create-article-heading {
  color: rgb(255, 255, 255);
  text-align: center;
}

.create-article-row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#articleCoverImage, #articleIntermediateImage {
  width: 100%; /* Make image upload inputs responsive */
  max-width: 300px; /* Limit their maximum size */
  border-radius: 10px;
}



.article-container {
  /* max-width: 800px; */
  margin-top: 70px;
  width: 100%;
  padding: 20px;
  background-color: #1e1e1e;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 28px;
}

.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #363636;
  color: white;
}

.title-input {
  width: 100%;
  font-size: 22px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
  background-color: #282828;
  color: #e0e0e0;
  border-radius: 5px;
}

#articleIntermediateImage {
  border-radius: 10px;
}
#articleCoverImage {
  border-radius: 10px;
}

.content-input {
  width: 100%;
  height: 300px;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #333;
  background-color: #282828;
  color: #e0e0e0;
  border-radius: 5px;
  resize: none;
  margin-bottom: 20px;
}

.image-upload {
  display: flex;
  justify-content: space-between;
}

.image-label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #e0e0e0;
}

input[type="file"] {
  background-color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  color: #e0e0e0;
  padding: 10px;
  cursor: pointer;
  width: 48%;
}

.approval-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-article-submit-button {
  background-color: #000000;
  color: white;
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0);
  font-size: 18px;
  padding : 10px;
  margin: 30px;
}

.create-article-submit-button:hover {
  transition: all 0.1s ease;
  transform: scale(1.2);
}