body, html{
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Arial, sans-serif;
  min-width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  background-image: url("../assets/homepagebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  /* background:linear-gradient(0deg, black, rgba(255,255,255,0)), url(&quot;assets/img/pexels-apasaric-356286.jpg&quot;) center / cover;position:relative; */
  background-position: top center;
  background-size: cover;
  transition: background-size ease-in-out;
}

/* .bg-top {
  background-position: top center;
}

.bg-center {
  background-position: center center;
} */

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}