.purpose-container{
  text-align: center; /* Centers the text */
  padding: 50px; /* Adds some spacing around the text */
  background-color: #ffffff00; /* Light grey background for the hero section */
  margin-top: 1200px;
}