.purpose-container{
  text-align: center; 
  padding: 30px;
  background-color: #ffffff8a;
  border-radius: 40px;
  margin-top: 250px;
}

.purpose-container h1 {
  font-family: "Cabin", sans-serif;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
}

.purpose-container p {
  margin-top: 50px;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
}