.purpose-container{
  /* position: relative; */
  text-align: center; 
  padding: 30px;
  background-color: #ffffffd6;
  border-radius: 40px;
  width: 90vw;
  /* margin-top: 150px; */
  margin-bottom: 20px;
}

.purpose-container h1 {
  font-family: "Cabin", sans-serif;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
}

.purpose-container p {
  margin-top: 25px;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
}