.navbar {
  min-height: 90px;
  box-shadow: none;
  border: none;
  margin: 0;
  border-radius: 0;
  font-size: 16px;
}

.navbar .navbar-nav > li > a, .navbar a.navbar-brand.navbar-link {
  min-height: 90px;
  line-height: 90px;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: none !important;
  text-shadow: none !important;
  border: none;
}

@media (min-width:768px) {
  .navbar .navbar-nav > li > a {
    margin: 0 0 0 1px;
  }
}

@media (max-width:767px) {
  .navbar {
    position: relative !important;
  }
}

@media (max-width:767px) {
  .navbar, .navbar.navchange, .navbar a.navbar-brand.navbar-link, .navbar.navchange a.navbar-brand.navbar-link {
    min-height: 60px;
    line-height: 60px;
    height: auto;
  }
}

@media (max-width:767px) {
  .navbar .navbar-nav > li > a, .navbar.navchange .navbar-nav > li > a {
    min-height: 40px;
    line-height: 40px;
  }
}

@media (max-width:767px) {
  .navbar-nav {
    margin: 0 -15px;
  }
}

.navbar, .navbar .navbar-nav > li > a, .navbar a.navbar-brand.navbar-link, .navbar-brand img, .navbar .dropdown-menu li a, .icon-bar {
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.btn:hover {
  background-color: rgba(93,101,108,0);
  transform: scale(1.2);
  border-color: rgba(0,0,0,0);
  color: black;
}

span {
  color: #ffffff;
}

@media (min-width: 768px) {
  p {
    font-size: 24px;
  }
}

.btn-primary {
  /*background: linear-gradient(-36deg, black, rgb(60,60,60) 44%, #bfc7d2), rgba(13,110,253,0);*/
  border-radius: 20px;
  width: 90.7188px;
  box-shadow: 10px 7px 14px 4px rgba(0,0,0,0.2);
  color: #ecf2fe;
  font-weight: bold;
  background-color: black;
  border-color: rgba(0,0,0,0);
}

* {
  box-sizing: border-box;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

